* {
    box-sizing: border-box;
}

/* Google Fonts:
font-family: 'Josefin Slab', serif;
font-family: 'Monoton', cursive;
font-family: 'Julius Sans One', sans-serif;
*/

body {
    background-image: url(../images/dark-paths-background.png);
}

.jumbotron {
    color: white;
    background-color: rgba(255, 166, 19, 0.92);
    font-family: 'Monoton', cursive;
    font-size: 56px;
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.display-4 {
    padding: 30px;
}

.subHeader {
    font-family: 'Josefin Slab', serif;
    font-size: 22px;
}

#mainFormArea {
    /* background-color:rgba(0, 0, 0, 0.82); */
}

